@font-face {
    font-family: AbrilFatface;
    src: url(font/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: Lato-regular;
    src: url(font/Lato-Regular.ttf);
}
:root{
    --navbar-theme: #e6e6e4;
    --background-color: #ffffff;
    --text-color: #1a1a1a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html{
    font-family: AbrilFatface;
    font-size: 10px;
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
/* Configuración general */
.arrow{
    text-align: center;
    width: 100px;
    height: 100px;
}
.titulo{
    font-size: 5rem;
    font-weight: bold;
}
.seccion{
    text-align: center;
    width: 98vw;
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
    padding-top: 13vh;
}
/* ANIMACIONES */
@keyframes flecha {
    0%{
        transform: translateY(0px);
    }
    5%{
        transform: translateY(4px);
    }
    10%{
        transform: translateY(8px);
    }
    15%{
        transform: translateY(12px);
    }
    20%{
        transform: translateY(16px);
    }
    25%{
        transform: translateY(20px);
    }
    30%{
        transform: translateY(24px);
    }
    35%{
        transform: translateY(28px);
    }
    40%{
        transform: translateY(32px);
    }
    45%{
        transform: translateY(36px);
    }
    50%{
        transform: translateY(40px);
    }
    55%{
        transform: translateY(36px);
    }
    60%{
        transform: translateY(32px);
    }
    65%{
        transform: translateY(28px);
    }
    70%{
        transform: translateY(24px);
    }
    75%{
        transform: translateY(20px);
    }
    80%{
        transform: translateY(16px);
    }
    85%{
        transform: translateY(12px);
    }
    90%{
        transform: translateY(8px);
    }
    95%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes step-1{
    5%{
        transform: scaleX(calc((500*33%/100)*1));
    }
    10%{
        transform: scaleX(calc((500*33%/100)*2));
    }
    15%{
        transform: scaleX(calc((500*33%/100)*3));
    }
    20%{
        transform: scaleX(calc((500*33%/100)*4));
    }
    25%{
        transform: scaleX(calc((500*33%/100)*5));
    }
    30%{
        transform: scaleX(calc((500*33%/100)*6));
    }
    35%{
        transform: scaleX(calc((500*33%/100)*7));
    }
    40%{
        transform: scaleX(calc((500*33%/100)*8));
    }
    45%{
        transform: scaleX(calc((500*33%/100)*9));
    }
    50%{
        transform: scaleX(calc((500*33%/100)*10));
    }
    55%{
        transform: scaleX(calc((500*33%/100)*11));
    }
    60%{
        transform: scaleX(calc((500*33%/100)*12));
    }
    65%{
        transform: scaleX(calc((500*33%/100)*13));
    }
    70%{
        transform: scaleX(calc((500*33%/100)*14));
    }
    75%{
        transform: scaleX(calc((500*33%/100)*15));
    }
    80%{
        transform: scaleX(calc((500*33%/100)*16));
    }
    85%{
        transform: scaleX(calc((500*33%/100)*17));
    }
    90%{
        transform: scaleX(calc((500*33%/100)*18));
    }
    95%{
        transform: scaleX(calc((500*33%/100)*19));
    }
    100%{
        transform: scaleX(calc((500*33%/100)*20));
    }
}
@keyframes step-2{
    0%{
        transform: scaleX(calc((500*33%/100)*20));
    }
    5%{
        transform: scaleX(calc((500*33%/100)*21));
    }
    10%{
        transform: scaleX(calc((500*33%/100)*22));
    }
    15%{
        transform: scaleX(calc((500*33%/100)*23));
    }
    20%{
        transform: scaleX(calc((500*33%/100)*24));
    }
    25%{
        transform: scaleX(calc((500*33%/100)*25));
    }
    30%{
        transform: scaleX(calc((500*33%/100)*26));
    }
    35%{
        transform: scaleX(calc((500*33%/100)*27));
    }
    40%{
        transform: scaleX(calc((500*33%/100)*28));
    }
    45%{
        transform: scaleX(calc((500*33%/100)*29));
    }
    50%{
        transform: scaleX(calc((500*33%/100)*30));
    }
    55%{
        transform: scaleX(calc((500*33%/100)*31));
    }
    60%{
        transform: scaleX(calc((500*33%/100)*32));
    }
    65%{
        transform: scaleX(calc((500*33%/100)*33));
    }
    70%{
        transform: scaleX(calc((500*33%/100)*34));
    }
    75%{
        transform: scaleX(calc((500*33%/100)*35));
    }
    80%{
        transform: scaleX(calc((500*33%/100)*36));
    }
    85%{
        transform: scaleX(calc((500*33%/100)*37));
    }
    90%{
        transform: scaleX(calc((500*33%/100)*38));
    }
    95%{
        transform: scaleX(calc((500*33%/100)*39));
    }
    100%{
        transform: scaleX(calc((500*33%/100)*40));
    }
}
@keyframes step-3{
    0%{
        transform: scaleX(calc((500*33%/100)*40));
    }
    5%{
        transform: scaleX(calc((500*33%/100)*41));
    }
    10%{
        transform: scaleX(calc((500*33%/100)*42));
    }
    15%{
        transform: scaleX(calc((500*33%/100)*43));
    }
    20%{
        transform: scaleX(calc((500*33%/100)*44));
    }
    25%{
        transform: scaleX(calc((500*33%/100)*45));
    }
    30%{
        transform: scaleX(calc((500*33%/100)*46));
    }
    35%{
        transform: scaleX(calc((500*33%/100)*47));
    }
    40%{
        transform: scaleX(calc((500*33%/100)*48));
    }
    45%{
        transform: scaleX(calc((500*33%/100)*49));
    }
    50%{
        transform: scaleX(calc((500*33%/100)*50));
    }
    55%{
        transform: scaleX(calc((500*33%/100)*51));
    }
    60%{
        transform: scaleX(calc((500*33%/100)*52));
    }
    65%{
        transform: scaleX(calc((500*33%/100)*53));
    }
    70%{
        transform: scaleX(calc((500*33%/100)*54));
    }
    75%{
        transform: scaleX(calc((500*33%/100)*55));
    }
    80%{
        transform: scaleX(calc((500*33%/100)*56));
    }
    85%{
        transform: scaleX(calc((500*33%/100)*57));
    }
    90%{
        transform: scaleX(calc((500*33%/100)*58));
    }
    95%{
        transform: scaleX(calc((500*33%/100)*59));
    }
    100%{
        transform: scaleX(calc((500*33%/100)*60));
    }
}
/* Configuración barra superior (apertura) */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: var(--navbar-theme);
    z-index: 999;
    display: flex;
        align-items: center;
        column-gap: 50px;
}
#navbar-logo{
    height: 100%;
}
.navbar-link{
    font-size: 3rem;
}
/* Configuración barra superior (cierre) */
/* Configuración welcome (apertura) */
#welcome-desc{
    font-family: Lato-Regular;
    margin: 50px auto;
    text-align: center;
    font-size: 2rem;
}
#welcome-arrow{
    margin-top: 200px;
    animation: flecha 1s 0ms infinite;
    z-index: -1;
}
/* Configuración welcome (cierre) */
/* Configuración de página documentación (apertura) */
#materias{
    display: grid;
    grid-template-columns: auto auto auto;
}
.materia img{
    width: 40px;
    vertical-align: middle;
}
.materia a{
    font-size: 1.7rem;
    font-family: 'Lato-regular';
}
.materia{
    margin-top: 50px;
    background-color: #e6e6e4;
    width: 40%;
    max-width: 40%;
    padding: 5px;
    padding-left: 10px;
    margin: auto;
    margin-top: 70px;
}
#doc-arrow{
    margin-top: 100px;
    animation: flecha 1s 0ms infinite;
}
/* Configuración de página documentación (cierre) */
/* Configuración de página jugar (apertura) */
#jugar-arrow{
    animation: flecha 1s 0ms infinite;
    height: fit-content;
    margin-top: 350px;
}
/* Configuración de página jugar (cierre) */
/* Configuración quienes somos (apertura) */
#quienes-somos{
    height: 110vh;
}
#quienes-somos h2{
    font-size: 5rem;
}
.avatar{
    background-color: #aaaaaa;
    border: 2px solid black;
    max-width: 300px;
    max-height: 500px;
}
.avatar p{
    font-family: Lato-regular;
    font-size: 2rem;
}
.avatar:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s 0ms;
    overflow-y: hidden;
}
#avatares{
    display: flex;
    padding: 40px;
    column-gap: 15px;
}
/* Configuración quienes somos (cierre) */
/* Configuración páginas de documentación (apertura) */
#doc-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#doc-content div{
    font-size: 1.5rem;
    font-family: Lato-regular;
}
#doc-content label{
    display: block;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 55px;
}
#doc-enc{
    margin-bottom: 60px;
}
#doc-enc h3{
    font-family: Lato-regular;
}
#ed{
    padding: 5px;
}
#sub{
    text-align: center;
    background-color: black;
    margin-top: 20px;
    padding: 8px 40px;
    border: none;
    border-radius: 3px;
    color: #aaaaaa;
}
#vid-sub{
    color: #1a1a1a95;
    font-size: 13px;
}
#bar{
    background-color: #e5e9f2;
    height: 8px;
    width: 500px;
    margin: 0 auto;
}
#progress{
    background-color: #000000;
    height: 8px;
    width: 10px;
}
#progress-enc{
    margin-top: 50px;
    font-size: 20px;
    font-family: Lato-regular;
}
#progress-foot{
    font-family: Lato-regular;
}
.step-1{
    animation: step-1 0.8s 0ms forwards;
}
.step-2{
    animation: step-2 0.8s 0ms forwards;
}
.step-3{
    animation: step-3 0.8s 0ms forwards;
}
/* Configuración páginas de documentación (cierre) */
/* Media Queries */
@media only screen and (max-width: 1150px){
    #navbar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #navbar img{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 720px){
    #navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #navbar img{
        width: 0;
        height: 0;
        position: fixed;
    }
    #navbar a{
        font-size: 2rem;
    }
    #materias{
        grid-template-columns: 1fr 1fr;
    }
    #avatares{
        display: grid;
        grid-template-columns: 1fr;
    }
    #quienes-somos{
        height: fit-content;
    }
    .avatar{
        margin-top: 30px;
    }
}
/* Media Queries */